@use './vars' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Main Elements
--------------------------------*/
html, 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Hiragino Sans GB, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: $fontColor;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
}

a {
  color: mix(#fff, $primaryColor, 20%);
  text-decoration: none;
  &:focus,
  &:hover {
    color: $primaryColor;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}

:focus {
  outline: 0;
}

li {
  list-style: none;
}

input {
  outline: none;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  background: transparent;
  width: 100%;
  &:focus,
  &:active {
    border-color: $primaryColor;
  }
}

/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
