@use './vars' as *;

.wrapper {
  max-width: 1200px;
  min-width: 375px;
  margin: 0 auto;
}

/* reset AntD style
-------------------------------*/
.ant-layout {
  .ant-layout-header {
    background: #fff;
  }
}


/* header
------------------*/
.logo {
  height: 35px;
}
.search {
  width: 28%;
}
.btn-space {
  &.mlf {
    margin-left: 10px;
  }
}