@use './vars' as *;

%page-title {
  font-size: 20px;
  color: $primaryColor;
}

.wrapper {
  max-width: 1680px;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  &.pc {
    margin-top: 40px;
  }
}
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  fill: $primaryColor;
  margin-top: -0.3em;
}

.mr-5 {
  margin-right: 5px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-20-m {
  margin-top: -20px;
}
.mt-15-m {
  margin-top: -15px;
}

/* Toast
-----------------------------------*/
.q-toast {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.65);
  .q-toast-wrap {
    width: 700px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -280px;
    background: #fff;
    overflow: hidden;
    .q-toast-close {
      position: absolute;
      right: 0;
      top: 4px;
      cursor: pointer;
      .svg-icon {
        width: 30px;
        height: 30px;
        &:hover {
          fill: rgba($primaryColor, 0.85);
        }
      }
    }
    .q-toast-head {
      background: #f0f0f0;
      width: 100%;
      height: 80px;
      padding: 15px 0 0 25px;
      
      .title {
        font-size: 20px;
        color: $primaryColor;
      }
      .desc {
        font-size: 12px;
        color: #999;
      }
    }
    .q-toast-slot {
      width: 510px;
      margin: 20px auto;
    }
  }
}

/* Form
------------------------------------*/
.form {
  .form-item {
    margin-bottom: 10px;
    label {
      white-space: nowrap;
      padding-right: 20px;
      color: #818181;
    }
    textarea {
      height: 150px;
    }
  }
  .form-operation {
    width: 150px;
    margin: 0 auto;
    padding-top: 15px;
    .form-submit-btn {
      display: block;
      background-color: $primaryColor;
      width: 100%;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      border-radius: 30px;
      border: none;
      &:hover {
        background-color: rgba($primaryColor, 0.85);
      }
    }
  }
}

/* header
------------------*/
header {
  // background-color: #353331;
  border-bottom: 1px dotted $primaryColor;
  nav {
    height: 64px;
    line-height: 64px;
  }
  .logo {
    height: 35px;
  }
  .search-wrap {
    width: 380px;
    height: 34px;
    line-height: 34px;
    border: 1px solid $primaryColor;
    input {
      color: $primaryColor;
      border-color: transparent;
      &::-webkit-input-placeholder {
        color: $primaryColor;
      }
    }
    .search-btn {
      .svg-icon {
        cursor: pointer;
        margin-right: 0.6em;
      }
    }
  }
  .contribution {
    display: block;
    height: 34px;
    line-height: 34px;
    background-color: $primaryColor;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      background-color: mix(#fff, $primaryColor, 20%);
    }
    .svg-icon {
      width: 14px;
      height: 14px;
      fill: #fff;
      margin-right: 0.5em;
    }
  }
}

/* Left
---------------------------*/
.left-con {
  width: 70%;
}

/* Right
---------------------------*/
.right-con {
  width: calc(30% - 50px);
}

/* Daily Card
----------------------------*/
.daily-card {
  .data {
    position: relative;
    width: 50px;
    height: 70px;
    font-size: 16px;
    line-height: 20px;
    background: $primaryColor;
    border-radius: 5px 5px 0 0;
    span {
      display: inline-block;
      padding: 0 5px;
      margin-top: 5px;
      border-radius: 5px;
      text-align: center;
      color: #fff;
      font-family: Georgia;
    }

    &::after {
      content: "";
      width: 10px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 20px;
    }
  }
  .title {
    flex: 1;
    margin-left: 10px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
    @extend %page-title;
  }
  .content {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    text-indent: 64px;
    width: calc(100% - 30px - #{$cover-width});
  }
  .cover {
    width: $cover-width;
    display: block;
    padding-bottom: $cover-height;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Contain SVG & Title
------------------------------------------*/
.q-svg-title {
  padding-left: 10px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  .svg-icon {
    width: 40px;
    height: 40px;
  }
  .title {
    @extend %page-title;
    margin-left: 10px;
  }
}