@use './vars' as *;

.wrapper {
  max-width: 1680px;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* reset AntD style
-------------------------------*/
/* .ant-layout {
  .ant-layout-header {
    background: #fff;
  }
} */


/* header
------------------*/
header {
  // background-color: #353331;
  border-bottom: 1px dotted $primaryColor;
  nav {
    height: 64px;
    line-height: 64px;
  }
  .logo {
    height: 35px;
  }
  .search-wrap {
    input {
      width: 380px;
      color: $primaryColor;
      border-color: $primaryColor;
      &::-webkit-input-placeholder {
        color: $primaryColor;
      }
    }
  }
  .contribution {
    display: block;
    height: 34px;
    line-height: 34px;
    background-color: $primaryColor;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      background-color: mix(#fff, $primaryColor, 20%);
    }
  }
}