$base-font-size: 14px;
$primaryColor: #aa873b;
$fontColor: #333;
$border-radius: 0px;
$border-color: #e0e0e0;

$contrast-color: #353331;

$tipColor: #a1a1a1;
$labelColor: #818181;
$highColor: #c75c4d;

$cover-width: 120px;
$cover-height: $cover-width * 1.5;

@function pxToRem($px) {
  @return $px/$base-font-size*1rem;
}